* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #52565b;
    background-color: #fff;
}
:root {
    --info: #06BBCC;
    --light: #F0FBFC;
    --dark: #181d38;
}
.wow{
    visibility: hidden;
}
.animated{
    animation-duration: 1s;
    animation-fill-mode: both;
}
/* Animations Keyframes */
@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}
.zoomIn {
    animation-name: zoomIn;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 40px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.fadeInUp {
    animation-name: fadeInUp;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.fadeIn {
    animation-name: fadeIn;
}
/* Navbar */
.custom-navbar {
    position: sticky;
    top: 0;
    z-index: 1030;
}
.navbar .navbar-brand h2 {
    color: var(--info);
    font-weight: 700;
    line-height: 1.2;
}
.navbar .navbar-brand h2 i {
    color: var(--info);
    margin-right: 10px;
}
.navbar-light .navbar-nav .nav-link {
    font-size: 15px;
    position: relative;
    padding: 0px 15px; 
    color: var(--dark);
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
    transition: .5s;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--info);
}
.navbar-light .navbar-nav .dropdown-menu {
    border-radius: 4px;
}
.text-custom-info {
    color: var(--info);
}
.btn-custom-info {
    background-color: var(--info);
    border-color: var(--info);
    color: #ffffff;
    transition: 0.3s ease;
}
.btn-custom-info:hover {
    background-color: #05a3b2;
    border-color: #05a3b2;
    color: #ffffff;
}
/* Hero Section */
.hero-section {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../Photo/carousel-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}
.breadcrumb-item a{
    text-decoration: none;
}
/* Cards Service */
.service-item {
    background: #f0fbfc ; 
    box-shadow: 0 0 45px rgba(0, 0, 0, .05);
    transition: .5s;
    border-radius: 0; 
}
.service-item:hover {
    background: var(--info); 
    margin-top: -10px; 
}
.service-item:hover i,
.service-item:hover h5,
.service-item:hover p {
    color: var(--light);
}
.service-item i {
    transition: .5s;
}
.service-item h5 {
    font-weight: 600;
    font-size: 20px;
    color: var(--dark);
}
.service-item p {
    font-size: 15px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 0;
}
/* About */
.about-lines {
    position: relative;
    width: 60px;    
    height: 15px;   
    display: inline-block;
}
.about-lines::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 45px;    
    height: 2px;    
    background-color: var(--info);
}
.about-lines::after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 60px;   
    height: 2px;
    background-color: var(--info); 
}
.about-heading {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    color: var(--dark);
}
.about-p {
    font-size: 16px;
    color: #666666;
    line-height: 1.6;
}
.about-list-item {
    font-size: 16px;
    font-weight: 600;
    color: #666666;
    display: flex;
    align-items: center;
}
.about-list-item i {
    font-size: 14px;
}
.about-img {
    object-fit: cover;
}
/* Expert Instructors */
.title-line {
    position: relative;
    width: 60px;    
    height: 15px;   
    display: inline-block;
}
.title-line::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 45px;    
    height: 2px;    
    background-color: var(--info);
}
.title-line::before {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 60px;   
    height: 2px;
    background-color: var(--info); 
}
.team-item {
    transition: .5s;
    border-radius: 0; 
}
.team-item .position-relative {
    overflow: hidden; 
}
.team-item img {
    transition: .5s ease;
}
.team-item img:hover {
    transform: scale(1.1);
}
.team-item .position-relative .btn-sm-square {
    border-radius: 50%;
    width: 38px;
    height: 38px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
/* Footer */
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}
.footer .btn.btn-social:hover {
    color: var(--info);
}
.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}
.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}
.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}
.footer .copyright a {
    color: var(--light);
    text-decoration: none;
}
.footer .footer-menu a {
    text-decoration: none;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}
.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}
/* Button  */
.back-to-top {
    position: fixed;
    right: 45px;
    bottom: 45px;
    z-index: 99;
    width: 50px;
    height: 50px;
    background-color: var(--info);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
}
.back-to-top i {
    font-size: 18px;
    color: #ffffff ;
}
/* Media Queries */
@media (max-width: 992px) {
.navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
}
.navbar-light .navbar-nav {
        margin-top: 15px;
        padding: 15px 0;
        border-top: 1px solid #0000000d; 
}
.navbar-light .navbar-nav .nav-link {
        padding: 15px 0; 
        font-family: 'Heebo', sans-serif;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase; 
        color: var(--dark) ;
        transition: 0.3s ease;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
        color: var(--info); 
}
.navbar-light .navbar-nav .dropdown-menu {
        box-shadow: none;
        border: 1px solid #ccc;
        background: #ffffff; 
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 0; 
}
.navbar-light .navbar-nav .dropdown-item {
        padding: 8px 15px;
        font-weight: 600;
        color: var(--dark);
        transition: 0.2s ease;
}
.navbar-light .navbar-nav .dropdown-item:hover,
.navbar-light .navbar-nav .dropdown-item:focus {
        background-color: #cccccced; 
        color: var(--dark) ;
}
.hero-section h1.display-3{
    font-size: 40px;
}
.col-lg-6 .position-relative.h-100{
    height: auto;
    min-height: 300px;
    margin-bottom: 30px;
}
.about-img{
    position: relative;
    height: 100%;
    max-width: 350px;
    margin-bottom: 25px;
}
}
@media (max-width: 768px) {
.hero-section h1.display-3 {
    font-size: 32px;
}
.about-heading {
    font-size: 28px;
}
.hero-section {
    margin-bottom: 40px;
}
.service-item {
    margin-bottom: 10px;
}
}





























